.middle_container{
    position: absolute;
    top:11%;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

.middle_container h1{
    font-size: 100px;

}

.middle_container h4{
    font-size: 40px;
}

@media (max-width:375px){
    .middle_container{
        position: absolute;
        top:11%;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }

    .middle_container h1{
        font-size: 50px;
    }
    .middle_container h4{
        font-size: 15px;
    }

}

@media (max-width:414px){
    .middle_container{
        position: absolute;
        top: 16%;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }

    .middle_container h1{
        font-size: 60px;
    }
    .middle_container h4{
        font-size: 22px;
    }

}
